In [6]:
import pandas as pd
import sklearn
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

In [7]:
#Le damos un formato legible al dataset para que lo interprete pandas
df = pd.read_csv('diamonds.csv', index_col=0) #index_col=0 esta para remover el indice que viene por defecto en el CSV
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [9]:
#En el dataset tenemos datos que no son numericas, por lo que debemos darles un valor numerico
from sklearn.preprocessing import LabelEncoder
categorical_features = ['cut', 'color', 'clarity']
longitud=len(categorical_features)
le = LabelEncoder()
# convertimos las variables en numeros
for i in range(longitud):
    new = le.fit_transform(df[categorical_features[i]])
    df[categorical_features[i]] = new
df.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
1   0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
2   0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
3   0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
4   0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
5   0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75

In [4]:
df.describe()

,carat,cut,color,clarity,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,2.553003,2.594197,3.835150,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.027708,1.701105,1.724591,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,0.000000,0.000000,0.000000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,2.000000,1.000000,2.000000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,2.000000,3.000000,4.000000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,3.000000,4.000000,5.000000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,4.000000,6.000000,7.000000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [5]:
#Decimos quien va a ser el output (y) y quienes el input (x)
X = df[['carat', 'depth', 'table', 'x', 'y', 'z', 'clarity', 'cut', 'color']]
Y = df["price"]
print(X)

       carat  depth  table     x     y     z  clarity  cut  color
1       0.23   61.5   55.0  3.95  3.98  2.43        3    2      1
2       0.21   59.8   61.0  3.89  3.84  2.31        2    3      1
3       0.23   56.9   65.0  4.05  4.07  2.31        4    1      1
4       0.29   62.4   58.0  4.20  4.23  2.63        5    3      5
5       0.31   63.3   58.0  4.34  4.35  2.75        3    1      6
...      ...    ...    ...   ...   ...   ...      ...  ...    ...
53936   0.72   60.8   57.0  5.75  5.76  3.50        2    2      0
53937   0.72   63.1   55.0  5.69  5.75  3.61        2    1      0
53938   0.70   62.8   60.0  5.66  5.68  3.56        2    4      0
53939   0.86   61.0   58.0  6.15  6.12  3.74        3    3      4
53940   0.75   62.2   55.0  5.83  5.87  3.64        3    2      0

[53940 rows x 9 columns]

In [26]:
#Separamos el dataset en un 70% para generar un modelo y otro 30% para entrenarlo
#mostramos cuantas filas pertenecen a cada uno
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(37758, 9)
(16182, 9)

In [28]:
pearson_corr = df.corr(method='pearson')
pearson_corr

,carat,cut,color,clarity,depth,table,price,x,y,z
carat,1.000000,0.017124,0.291437,-0.214290,0.028224,0.181618,0.921591,0.975094,0.951722,0.953387
cut,0.017124,1.000000,0.000304,0.028235,-0.194249,0.150327,0.039860,0.022342,0.027572,0.002037
color,0.291437,0.000304,1.000000,-0.027795,0.047279,0.026465,0.172511,0.270287,0.263584,0.268227
clarity,-0.214290,0.028235,-0.027795,1.000000,-0.053080,-0.088223,-0.071535,-0.225721,-0.217616,-0.224263
depth,0.028224,-0.194249,0.047279,-0.053080,1.000000,-0.295779,-0.010647,-0.025289,-0.029341,0.094924
table,0.181618,0.150327,0.026465,-0.088223,-0.295779,1.000000,0.127134,0.195344,0.183760,0.150929
price,0.921591,0.039860,0.172511,-0.071535,-0.010647,0.127134,1.000000,0.884435,0.865421,0.861249
x,0.975094,0.022342,0.270287,-0.225721,-0.025289,0.195344,0.884435,1.000000,0.974701,0.970772
y,0.951722,0.027572,0.263584,-0.217616,-0.029341,0.183760,0.865421,0.974701,1.000000,0.952006
z,0.953387,0.002037,0.268227,-0.224263,0.094924,0.150929,0.861249,0.970772,0.952006,1.000000

In [8]:
#Utilizamos el modelo de regresion lineal
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
#Mostramos los coeficientes que permiten predecir
b = lr.coef_
print(b)


print("\nPrecision del modelo R2: ")
print(lr.score(X_train, y_train))

[10968.36326342  -151.6072107    -97.3795226  -1159.65818545
    37.33358984   -16.15098972   289.87460979    72.7639156
  -269.13112361]

Precision del modelo R2:
0.8858356868366712

In [10]:
# Creamos un dataframe que compare el valor actual con el valor predecido para comparar los valores
close_predictions_lr = lr.predict(X_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted_lr': close_predictions_lr})
df1 = df.tail(25)

print(df1)

       Actual  Predicted_lr
46111    1743   2268.596920
1496     2991   3846.397309
33381     827    967.459398
45556    1687   1784.900763
23778   11837   7489.431599
27924     658     25.231657
42519    1323    901.661087
10827    4870   6158.459017
33004     813   1468.054747
34672     872    776.153559
31797     773    772.936136
51214    2352   2237.226058
27822     650   -389.906174
52947    2593   3962.269300
24623   12956   7260.404251
23702     631  -1333.802046
21205    9346   7009.566084
15312    6146   5808.332769
20170    8624   7907.354528
36071     924    707.488422
28593     675    309.971101
6724      577    535.243706
9289     4568   5934.198278
27179   17451  16049.665910
30868     743    194.731269

In [18]:
#Utilizamos el modelo de regresion Ridge
rr = Ridge(alpha=1)
rr.fit(X_train, y_train)
w = rr.coef_
print("Coeficientes W")
print(w)


print("\nPrecision del modelo R2: ")
print(rr.score(X_train, y_train))

Coeficientes W
[10939.2086758   -151.04805878   -97.33287878 -1147.31872703
    37.22439076   -16.57482716   289.9462296     72.82555902
  -268.91453129]

Precision del modelo R2:
0.8858351311965392

In [19]:
# Creamos un dataframe que compare el valor actual con el valor predecido para comparar los valores
close_predictions_rr = rr.predict(X_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted_rr': close_predictions_rr})
df2 = df.tail(25)

print(df2)

       Actual  Predicted_rr
46111    1743   2269.663924
1496     2991   3847.819442
33381     827    968.133841
45556    1687   1786.190933
23778   11837   7490.971669
27924     658     25.658399
42519    1323    902.586221
10827    4870   6159.813180
33004     813   1465.423046
34672     872    773.871166
31797     773    772.541798
51214    2352   2239.581852
27822     650   -390.962642
52947    2593   3964.556566
24623   12956   7261.824967
23702     631  -1336.435527
21205    9346   7011.290208
15312    6146   5811.380498
20170    8624   7907.295921
36071     924    706.685274
28593     675    308.184497
6724      577    531.384333
9289     4568   5935.788677
27179   17451  16040.580560
30868     743    193.069004

In [20]:
#Comparamos los valores 
df1['Predicted_rr']= df2['Predicted_rr']
print(df1)

       Actual  Predicted_lr  Predicted_rr
46111    1743   2268.596920   2269.663924
1496     2991   3846.397309   3847.819442
33381     827    967.459398    968.133841
45556    1687   1784.900763   1786.190933
23778   11837   7489.431599   7490.971669
27924     658     25.231657     25.658399
42519    1323    901.661087    902.586221
10827    4870   6158.459017   6159.813180
33004     813   1468.054747   1465.423046
34672     872    776.153559    773.871166
31797     773    772.936136    772.541798
51214    2352   2237.226058   2239.581852
27822     650   -389.906174   -390.962642
52947    2593   3962.269300   3964.556566
24623   12956   7260.404251   7261.824967
23702     631  -1333.802046  -1336.435527
21205    9346   7009.566084   7011.290208
15312    6146   5808.332769   5811.380498
20170    8624   7907.354528   7907.295921
36071     924    707.488422    706.685274
28593     675    309.971101    308.184497
6724      577    535.243706    531.384333
9289     4568   5934.198278   5935.788677
27179   17451  16049.665910  16040.580560
30868     743    194.731269    193.069004